<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student List</title>
</head>
<body>
   <table>
    <thead>
        <tr>
            <th>Student Name</th>
            <th>Student Score</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="student:${students}">
            <td th:text="${student.name}"></td>
            <td th:text="${student.score}"></td>
        </tr>
    </tbody>
   </table>
</body>
</html>